<launch>
 <node pkg="ICS" type="gui.py" name = "gui_node" output="screen"></node>
 <node pkg="ICS" type="main.py" name = "main_node" output="screen"></node>
 <node pkg="ICS" type="gps.py" name = "gps_node" output="screen"></node>
 <node pkg="ICS" type="camera.py" name = "camera_node_basler" output="screen"></node>
</launch>
